<div class=''>
  <h1><%= @story.title %></h1>
  <img class="img-round" src="<%= @story.image %>" />
</div>
<% @story.sentences.each do |sentence| %>
  <%= sentence.body %> <br>
<% end %>
<h5>Add a sentence</h5>

<%= render '/sentences/form' %>
