<div class=''>
  <h1><%= @story.title %></h1>
  <div class="img-round">
    <%= image_tag(@story.image) %>
  </div>
</div>
<% @story.sentences.each do |sentence| %>
  <%= sentence.body %> <br>
<% end %>
<h4>Add a sentence</h4>

<%= render '/sentences/form' %>
