/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
body {
  background-color: #e6e6e6;
}
a {

  text-decoration: none;
}

a:hover {
  color: black;
}


#home-btn {
  background-color: grey;
  font-size: 1.5em;
  padding-left: 20px;
}
#home-btn img {

  width: 20px;
  height: 20px;
}

.img-round {
  border: 20px solid #19063A;
}
.img-round, .img-round img {
  width: 300px;
  height: 300px;
  -webkit-border-radius: 300px; /* Saf3+, Chrome */
  border-radius: 300px; /* Opera 10.5, IE 9 */
  -moz-border-radius: 300px; /* Disabled for FF1+ */
}
